*{

}

ul{
    list-style: none;
    margin: 0;
}

.btn{
  /*  font-size: 13px;
    line-height: 13px;
    padding: 8px 14px; */
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.input-append .btn{
    
}

.hider{
    position: relative;
}

.balloon{
    background: #F0F0F0; 
    border: 1px solid #E0E0E0; 
    padding: 20px;
    margin-top: -14px;
}
.balloon .arrow{
    height: 23px;
    width: 13px;
    background: url(../img/arrow.gif) no-repeat;
    position: absolute;
    margin: -3px 0 0 -33px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(82, 168, 236, 0.6);
}


.rout-component{
    margin: 10px auto;
    width: 400px;
}
.rout-component .router{
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #359DCE;
    background: #84CEFF;
    margin: 10px auto 15px;
    cursor: pointer;
    
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.rout-component .router .router-menu{
    position: absolute;
    padding: 6px 10px 5px;
    border: 1px solid #C0C0C0;
    background: #FFFDEC;
    margin: -2px 0 0 46px;
}
.rout-component .router .router-menu:hover{
    color: red;
    text-decoration: underline;
}
.rout-component .router .router-menu i{
    width: 11px;
    height: 21px;
    display: block;
    position: absolute;
    margin: -1px 0 0 -21px;
    background: url(../img/arrow-2.png);
}

.rout-component a.deleter{
    margin-left: 14px;
    font-size: 12px;
    color: #AAA;
}
.rout-component a.deleter:hover{
    color: #585858;
}


/* -- profile -- */
.profile-sidebar{
    margin: 20px 0;
}
.profile-image{
    height: 200px;
    overflow: hidden;
}
.profile-footer{
    border-top: 1px solid #E0E0E0;
    text-align: center;
    padding: 10px 0 20px;
    margin-top: 30px;
}
.profile-footer a{
    padding: 0 5px;
    font-size: 11px;
    font-family: tahoma;
}
/* -- /profile -- */

/* -- person -- */
.person-image{
    text-align: right;
    height: 200px;
    overflow: hidden;
}
.person-header section{
    text-align: right;
}
.person-actions .extra{
    margin: 10px 0;
}
.person-actions .extra li{
    display: inline-block;
}
/* -- /person -- */

/* -- messages -- */
#page-messages{
    height: 600px; 
}
#page-messages .ms-col{
    height: 100%;
}
#page-messages .message-box{
    height: 100%; 
}
#page-messages .message-input{
    margin-top: -130px;
    padding: 5px;
    background: #EFF8FC;
    border: 1px solid #D2ECF7;
}
#page-messages .message-input textarea{
    width: 376px;
    height: 70px;
    border-color: #B9D7E4;
    margin-bottom: 5px;
}
#page-messages .message-input .msi-bottom{
    text-align: right;
}
#page-messages .message-input .msi-bottom span{
    padding-right: 5px;
    font-size: 11px;
    font-family: tahoma;
    color: #18556F;
}
#page-messages .msc-list{
    height: 100%; 
}
/* -- /messages -- */